*{
text-align: center;

}

.card{
    border: 2px solid;
    width: 500px;
    height: 50%;
    display: inline-block;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 2px 6px 8px 0 rgba(36, 57, 149, 0.867);
  transition: 0.3s;
  color: rgb(149, 44, 102);
  background-color: white;
  animation: borderAnimation 2s infinite;
  
}

.con{
    padding: 20px;
}
.card:hover{
    transform: scale(1.09);
    box-shadow: 6px 8px 16px 0 rgba(218, 15, 171, 0.725);
}
.card1{
    border: 2px solid;
    width: 500px;
    height: 50%;
     margin-left: 50px;
     margin-top: 100px;
    border-radius: 10px;
    box-shadow: 2px 6px 8px 0 rgba(36, 57, 149, 0.867);
  transition: 0.3s;
  display: inline-block;
  color: rgb(12, 193, 9);
  background-color: white;
}
.con1{
    padding: 20px;
}
.card1:hover{
    transform: scale(1.09);
    box-shadow: 6px 8px 16px 0 rgba(15, 218, 133, 0.725);
}

body{
    background: url(4k-social-media-59t5e2lfen5uty95.jpg);
}